[Match]
Name=eth0

[Network]
DHCP=yes
IPv6PrivacyExtensions=true

[DHCP]
RouteMetric=10
SendHostname=false
UseHostname=false
UseDNS=false
ClientIdentifier=mac
